* {
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Neomorphic style */
.neomorphic {
  background: #eef0f4;
  /* border-radius: 19%; */
  border-radius: 10px;
  box-shadow: 8.41px 8.41px 19px #b6b8bb, -8.41px -8.41px 19px #ffffff;
}

.modal-open {
  overflow: hidden;
}
.side-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
}

.sideModalAnimation {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@keyframes slideIn {
  0% {
    bottom: 0;
    opacity: 0;
    right: -800px;
    top: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
    right: 0;
    top: 0;
  }
}

.inputField {
  outline: none;
  border: solid 1px #F3F3F3;
  border-radius: 5px;
  padding: 3px 3px;
  background: #F7FAFB;
}
